<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./home.css">
    <script src="https://kit.fontawesome.com/2c7a5ced39.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar" data-aos="slide-down" data-aos-duration="1000">
        <div id="logo-web" class="logo-web"></div>
        <div class="item-nav" id="item-nav">
            <!-- <div class="logo-web"></div> -->
            <div class="left-nav">
                <ul class="left-nav-item" style="margin: 0px;">
                    <li class="item-left-nav">
                        <a href="#">Home</a>
                    </li>
                    <li class="item-left-nav">
                        <a id="library" href="#">Library</a>
                    </li>
                    <li class="item-left-nav">
                        <a id="browse" href="#">Browse</a>
                    </li>
                    <li class="item-left-nav">
                        <a id="artists" href="#">Artists/TheIn</a>
                    </li>
                </ul>
            </div>
            <div class="right-nav">
                <a class="icon-search">
                    <input type="text" name="search" class="search" placeholder="Search">
                </a>
                <a class="icon-user"><i class="far fa-user-circle fa-1x"></i></a>
                <div id="login" class="login" onclick="clickMemuProfile()">
                    <a href="#">Thiên Võ </a>
                    <i class="fas fa-chevron-down"></i>
                    <div class="dropdown-content">
                        <a href="#">Hồ Sơ</a>
                        <a href="#">Cập nhật</a>
                        <a href="#">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flow">
        <div>
            <p class="title-left">FLow</p>
            <a href="#" class="title-right"><i class="fas fa-ellipsis-h"></i></a>
        </div>
        <div class="img-flow">
            <img src="./img/flow1.png" alt="">
            <img src="./img/flow2.png" alt="">
            <img src="./img/flow3.png" alt="">
        </div>
    </div>

    <div class="recently-plated">
        <div class="title-container">
            <p class="title-left">Recently plated</p>
            <a href="#" class="title-right">VIEW ALL</a>
        </div>
        <div class="container">
            {{#each albums}}
            <div class="picture-box">
                <a href="#">
                    <div>
                        <img src="./img/{{{this.picture}}}.png" id="picture">
                    </div>
                    <div id="namesong-released">
                        <a href="##" id="font-lato-regular-16">{{this.name}}</a>
                        <a id="font-lato-regular-14">Released: {{this.Released}}</a>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>


    <div class="container-browse">
        <div class="title-container">
            <p class="title-left">Browse</p>
            <a href="#" class="title-right">VIEW ALL</a>
        </div>
        <div class="container">
            <div class="picture-box">
                <a href="#">
                    <img src="./img/brow1.png" id="picture">
                </a>
            </div>
            <div class="picture-box">
                <a href="#">
                    <img src="./img/brow2.png" id="picture">
                </a>
            </div>
            <div class="picture-box">
                <a href="#">
                    <img src="./img/brow3.png" id="picture">
                </a>
            </div>
            <div class="picture-box">
                <a href="#">
                    <img src="./img/brow4.png" id="picture">
                </a>
            </div>
            <div class="picture-box">
                <a href="#">
                    <img src="./img/brow5.png" id="picture">
                </a>
            </div>
            <div class="picture-box">
                <a href="#">
                    <img src="./img/brow6.png" id="picture">
                </a>
            </div>
        </div>
    </div>

    <div class="Make monday more productive">
        <div class="title-container">
            <p class="title-left">Make monday more productive</p>
            <a href="#" class="title-right">VIEW ALL</a>
        </div>
        <div class="container">
            {{#each albums}}
            <div class="picture-box">
                <a href="#">
                    <div>
                        <img src="./img/{{{this.picture}}}.png" id="picture">
                    </div>
                    <div id="namesong-released">
                        <a href="##" id="font-lato-regular-16">{{this.name}}</a>
                        <a id="font-lato-regular-14">Released: {{this.Released}}</a>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>


    <div class="container-podcasts">
        <div class="title-container">
            <p class="title-left">Playlist picks</p>
            <a href="#" class="title-right">VIEW ALL</a>
        </div>
        <div class="container">
            <div class="picture-box">
                <a href="#">
                    <img src="./img/podcard4.png" id="picture">
                </a>
            </div>
            <div class="picture-box">
                <a href="#">
                    <img src="./img/postcard1.png" id="picture">
                </a>
            </div>
            <div class="picture-box">
                <a href="#">
                    <img src="./img/portcard2.png" id="picture">
                </a>
            </div>
            <div class="picture-box">
                <a href="#">
                    <img src="./img/portcard3.png" id="picture">
                </a>
            </div>
            <div class="picture-box">
                <a href="#">
                    <img src="./img/podcard5.png" id="picture">
                </a>
            </div>
            <div class="picture-box">
                <a href="#">
                    <img src="./img/podcard6.png" id="picture">
                </a>
            </div>
        </div>
    </div>

    <div class="container-artists">
        <div class="title-container">
            <p class="title-left">You might like these artists</p>
            <a href="#" class="title-right">VIEW ALL</a>
        </div>
        <div class="container">
            <div class="picture-box">
                <a href="#">
                    <div>
                        <img src="../image/picture30.png" id="picture-radius">
                    </div>
                    <div id="namesong-released">
                        <a href="##" id="font-lato-regular-16">Lou Reed</a>
                        <a id="font-lato-regular-14"> <i class="fas fa-heart"></i> 429,222</a>
                    </div>
                </a>
            </div>
            <div class="picture-box">
                <a href="#">
                    <div>
                        <img src="../image/picture31.png" id="picture-radius">
                    </div>
                    <div id="namesong-released">
                        <a href="##" id="font-lato-regular-16">Talking Heads</a>
                        <a id="font-lato-regular-14"> <i class="fas fa-heart"></i> 189,152</a>
                    </div>
                </a>
            </div>
            <div class="picture-box">
                <a href="#">
                    <div>
                        <img src="../image/picture32.png" id="picture-radius">
                    </div>
                    <div id="namesong-released">
                        <a href="##" id="font-lato-regular-16">T. Rex</a>
                        <a id="font-lato-regular-14"> <i class="fas fa-heart"></i> 53,145</a>
                    </div>
                </a>
            </div>
            <div class="picture-box">
                <a href="#">
                    <div>
                        <img src="../image/picture33.png" id="picture-radius">
                    </div>
                    <div id="namesong-released">
                        <a href="##" id="font-lato-regular-16">Iggy Pop</a>
                        <a id="font-lato-regular-14"> <i class="fas fa-heart"></i> 471,145</a>
                    </div>
                </a>
            </div>
            <div class="picture-box">
                <a href="#">
                    <div>
                        <img src="../image/picture34.png" id="picture-radius">
                    </div>
                    <div id="namesong-released">
                        <a href="##" id="font-lato-regular-16">Queen</a>
                        <a id="font-lato-regular-14"> <i class="fas fa-heart"></i> 147,423</a>
                    </div>
                </a>
            </div>
            <div class="picture-box">
                <a href="#">
                    <div>
                        <img src="../image/picture35.png" id="picture-radius">
                    </div>
                    <div id="namesong-released">
                        <a href="##" id="font-lato-regular-16">The Velvet Underground</a>
                        <a id="font-lato-regular-14"> <i class="fas fa-heart"></i> 948,117</a>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>